
* {
    box-sizing: border-box;
}

body{
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}

/*-------------*\
    CABECALHO
\*-------------*/
header{
    height: 104px;
    border-bottom: 1px solid #ccc;
}

.logo-cabecalho{
    margin-top: 1px;
}

.container{
    width: 100%;
    margin: 0 auto; /*Ajuste do container superior e inferio 0 e direita esquerda automático*/
    padding-left: 15px;
    padding-right: 15px;
    
}

.layout-cabecalho--home{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    background-color: #fbfbfb;
}


/*------------------*\
        MENU
\*------------------*/
.menu{
    margin:0;

    font-size: 1rem;

    list-style: none;

    

}



/*------------------*\
  MENU TELAS PEQUENAS
\*------------------*/

@media(max-width: 991px){
    .menu{
        position: fixed;
        top:0;
        left:0;
        bottom:0;

        /*Ocultando o menu para mobile
        display:none;
        */
        padding: 20px;
        width: 200px;
        

        border-right: 1px solid #eee;

        background-color: #fbfbfb;

    }

    

    .menu--exibindo{
        display: block;
        /*Ocultando o menu para mobile*/
        display:none;
    }

    .menu__item{
        display:block;

        line-height: 3;
    }

    a{
        text-decoration: none;
        color: #a13dff;
        font-weight: bold;
    }

    a:hover{
        color: #CE9CFD;
        

       
    }

    

    

}

/*------------------*\
  MENU TELAS GRANDES
\*------------------*/

@media(min-width:992px){
    .menu__item{
        display: inline-block;

        padding-top: 45px;
        
        padding-right:15px;

        
        
    }

    .menu__item:last-of-type{
        padding-right:30px ;
    }

    a{
        text-decoration: none;

        height: 50px;

        color: #a13dff;
        font-weight: bold;
    }

    a:hover{
        color: #CE9CFD;

       
    }

    
}


/*-------------*\
    NAVEGACAO
\*-------------*/

.navegacao__menu{
    float:right;
}

/*-------------*\
 BOTAO-CHAVEADOR
\*-------------*/

.botao-chaveador{
    width:24px;
    height: 24px;
    border:0;
    margin-top:40px;
    margin-right: 20px;

    
    
    background: none;
    background-image: url("imagem/barras.png");
    
    outline: none;
    
}



@media(min-width: 992px){
    .botao-chaveador{
        display:none;
    }
}


/*-------------*\
    CORPO
\*-------------*/

.layout-chamada{
    margin-top: 100px; /*Ajuste da img da section para baixo devido ao fixed do menu*/
}



/*-------------*\
    RODAPE
\*-------------*/

.layout-rodape{
    width: 100%;
    height: 180px;

    position: relative;

    padding: 0;
    

    color: black;
    text-align: center;
    
    font-size:0.7em;

    background-color: #f6eeff;

}

.coluna1-rodape{
    float: left;
    width: 50%;

    
    height: 120px;

    
    background-color: #f6eeff;
}

.coluna2-rodape{
    
    float: right;
    width: 50%;

    height: 120px;

    
    background-color: #f6eeff;
}


.layout-rodape-inferior{
    width: 100%;

    background-color: #a13dff;
}


.logo__rodape{
    position:relative;
    left: -210px;
    top:13px;
}

.rede-facebook{

    position: relative;
    margin-bottom: 8px;
    left:150px;
    top:28px;
}

.rede-instagram{

    position: relative;
    left:150px;
    top:28px;
}


@media(max-width: 991px){
    
    .coluna1-rodape {
        width:100%;
    }

    .coluna2-rodape{
        width: 100%;
        height: 100px;
        
    }

    .logo__rodape{
        position:relative;
        left: auto;
        top:13px;
    }

    .rede-facebook{

        position: relative;
        left:auto;
        top:15px;
        
        
    
    }
    
    .rede-instagram{
    
        position: relative;
        left:auto;
        top:15px;
        
    
    }

    
}

.layout-rodape-inferior{
      
    position: absolute;
    bottom:0;
    border-top: 1px solid rgb(185, 185, 185);
    
    padding: 10px 0;

    width: 100%;
    height: 60px;
    padding: 0;
    background-color: #d1a9ff;
}


.direitos-autorais{
    position: relative;
    top: 12px;
    
}


@media(max-width: 991px){
    .layout-rodape-inferior{
      
        position: absolute;
        bottom:-100px;     
        
        padding: 10px 0;
    
        width: 100%;
        height: 60px;
        padding: 0;
        background-color: #d1a9ff;
    }
    
    
    .direitos-autorais{
        position: relative;
        height: 40px;
        top: 22px;
        margin:0;
        
    }
}






