
* {
    box-sizing: border-box;
}

body{
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}

/*-------------*\
    CABECALHO
\*-------------*/
header{
    height: 104px;
    border-bottom: 1px solid #ccc;
}

.logo-cabecalho{
    margin-top: 1px;
}

.container{
    width: 100%;
    margin: 0 auto; /*Ajuste do container superior e inferio 0 e direita esquerda automático*/
    padding-left: 15px;
    padding-right: 15px;
    
}
/*------------------*\
        MENU
\*------------------*/
.menu{
    margin:0;

    font-size: 1rem;

    list-style: none;
}



/*------------------*\
  MENU TELAS PEQUENAS
\*------------------*/

@media(max-width: 991px){
    .menu{
        position: fixed;
        top:0;
        left:0;
        bottom:0;

        /*Ocultando o menu para mobile
        display:none;
        */
        padding: 20px;
        width: 200px;
        

        border-right: 1px solid #eee;

        background-color: #fbfbfb;
    }

    .menu--exibindo{
        display: block;
        /*Ocultando o menu para mobile*/
        display:none;
    }

    .menu__item{
        display:block;

        line-height: 3;

        
    }

    a{
        text-decoration: none;
        color: #a13dff;
        font-weight: bold;
    }

    a:hover{
        color: #CE9CFD;

       
    }

}

/*------------------*\
  MENU TELAS GRANDES
\*------------------*/

@media(min-width:992px){
    .menu__item{
        display: inline-block;

        padding-top: 45px;
        
        padding-right:15px;

        
        
    }

    .menu__item:last-of-type{
        padding-right:30px ;
    }

    a{
        text-decoration: none;

        height: 50px;

        color: #a13dff;
        font-weight: bold;
    }

    a:hover{
        color: #CE9CFD;

       
    }

    
}


/*-------------*\
    NAVEGACAO
\*-------------*/

.navegacao__menu{
    float:right;
}

/*-------------*\
 BOTAO-CHAVEADOR
\*-------------*/

.botao-chaveador{
    width:24px;
    height: 24px;
    border:0;
    margin-top:40px;
    margin-right: 20px;

    
    
    background: none;
    background-image: url("imagem/barras.png");
    
    outline: none;
    
}

@media(min-width: 992px){
    .botao-chaveador{
        display:none;
    }
}